*{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.container{
    width: 80%;
    margin: auto;

}

.container img{
    width: 140px;
}

.containerProducts{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.total{
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: min-content;
    align-items: flex-end;
}


.btnCnt{
    background: #4144BF;
    border: 3px solid #4144BF;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 10px;
    width: 100px;
  }

  .btnCnt:hover{
    background: #ffffff;
    border: 3px solid #4144BF;
    color: #172345;
}